.search-input {
  padding: 12px;
  border-style: solid;
  border-width: 1px;
  background-color: '#FAF7F6';

  &__wrapper {
    flex: 1;
    // display: flex;
  }

  &__icon-wrapper {
    flex: 1;
    // padding: 1rem;
    background-color: white;
  }

  &__icon {
    flex: 1;
    color: rgb(95, 105, 116);
  }

  &__input {
    padding: 5px 10px;
    margin: 5px;
    border-radius: 10px;
    border: 1px solid rgb(230, 232, 234);
    border-color: transparent;
    background-color: white;
  }
}
