.select-delivery-method {
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .2);

    &__modal {
        margin: .5rem;
        padding: 1rem;
        height: 20rem;
        border-radius: .5rem;
        background-color: white;
    }

    &__title {
        margin-bottom: .5rem;
        text-align: center;
        font-weight: bold;
    }

    &__option-wrapper {

    }

    &__option {
        padding: .5rem;
        height: 5rem;
        width: 50%;
        border: 1px solid rgba(0, 0, 0, .1);
        border-radius: .25rem;
    }
}