.no-network-note {
    flex: 1;
    align-items: center;

    &__logo {
        flex: 0.6;
        width: 6rem;
        height: 6rem;
    }

    &__container {
        flex: 1;
        align-items: center;
    }

     &__title {    
        color: black;
        font-size: 24;
        font-weight: bold;
    }

    &__text {    
        color: black;
        font-size: 18;
    }
}