.order {
    margin: 5px;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;

    &__dark {
        background-color: #d6d6d6;
        color: white;
    }

    &__header {
        flex-direction: row;
        justify-content: space-between;
    }

    &__title {
        font-weight: bold;
        align-self: stretch;
        width: 90%;
    }

    &__language {
        flex-direction: row;
    }

    &__language-logo {
        width: 1rem;
        height: 1rem;
    }

    &__item-wrapper {
        flex-direction: row;
    }

    &__item {
        flex-direction: column;
        width: 90%;

        &-title {
            width: 110%;
        }
    }

    &__print-wrapper {
        align-self: flex-end;
    }

    &__print {
        padding: .25rem;

        &--is-shipped {
            margin-left: .75rem;
            opacity: .3;
        }
    }

    &__bold-label {
        font-weight: bold;
    }

    &__toast {
        border-radius: 5px;
        padding: 10px;
        color: white;
    }
}