.order {
    margin: 5px;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;

    &__dark {
        background-color: #d6d6d6;
        color: white;
    }

    &__header {
        flex-direction: row;
        justify-content: space-between;
    }

    &__title {
        font-weight: bold;
        align-self: stretch;
        width: 90%;
    }

    &__language {
        flex-direction: row;
    }

    &__language-logo {
        width: 20px;
        height: 20px;
    }

    &__bold-label {
        font-weight: bold;
    }

    &__text-wrapper {
        width: 90%;
    }

    &__send-container {
        flex-direction: row;
        position: absolute;
        bottom: 0;
        right: 0;
    }

    &__barcode {
        padding: .25rem;
    }

    &__print {
        align-self: flex-end;
        padding: .25rem .25rem .25rem .75rem;

        &--is-shipped {
            align-self: flex-end;
            margin-left: .75rem;
            opacity: .3;
        }
    }

    &__toast {
        border-radius: 5px;
        padding: 10px;
        color: white;
    }
}